{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Qui Suis-Je
{% endblock %}

{% block body %}
	<a href="javascript:history.go(-1)"><i class="far fa-arrow-alt-circle-left h2"></i></a>
	<div class="text-center col-md-8 mx-auto">
		<h1 class="mb-3 text-center">Ma frivolité</h1>

		<h2 class="my-3">Bonjour et bienvenue</h2>

		<p>Vous pourrez trouver sur ce site des bijoux fin et très légers, fabriqués en "dentelle aux navettes" (frivolité).</p>
		<p>Des couleurs sobres aux couleurs les plus vives, sans perles ou extrêmement perlé, du plus petit motif au plus élaboré, vous pourrez trouver un grand choix de formes et de styles de boucles d'oreilles et divers bijoux d'une légèreté telle que vous pourriez oublier que vous les portez.</p>
		<p>J'utilise du fil Tenax ou Vega. C'est un fil en polyester. Il apporte la solidité et la résistance au bijou. Il est incassable et ne craint pas l'eau. Votre bijou gardera sa forme et ses couleurs, et ce malgré les années qui passent.</p>
		<p class="mt-5">Si vous avez des questions, n'hésitez pas à m'envoyer un message.</p>
		<p class="mt-2">En espérant que vous prendrez autant de plaisir à visiter ce site que moi en fabriquant ces petites merveilles.</p>
		<p class="my-5 h3">Bonne visite!</p>


		<h1 class="my-5 text-center">L'histoire de la frivolité</h1>

		<p class="my-2">La frivolité a vu le jour en Europe sous le nom de « knotting », en français, « faire des nœuds ».</p>
		<p>L'origine semble avérée au 16ème siècle mais indéterminée d'un point de vue géographique.</p>
		<p class="my-2">Au 18ème siècle la frivolite est un art apprécié de l'aristocratie, et il fait partie de l'éducation des jeunes filles bien nées.</p>
		<p>Il s'agit d'une technique de dentelle, qui s'exécute traditionnellement avec une ou deux navettes ; elles tiennent le fil de coton ou de soie, permettent de le dérouler, et l'empêchent de filer.</p>
		<p class="my-2">Les ouvrages sont constitués d'une suite de nœuds, agencés de manière à former un motif. Les nœuds se font en deux parties, et sont parfois séparés par des «picots», qui rendent plus attrayants les ouvrages.</p>
		<p>Cet art ne s'est pas perdu : Lorina Balteanu le découvre en 2006, et a l'idée d'y incorporer des perles de verres et des pierres fines, transformant la dentelle en bijou raffiné et élégant.</p>
	</div>

{% endblock  %}
