{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
<div class="alert alert-danger mb-5 col-lg-8 mx-auto">
<p class="h2 text-center">Tu as {{ orders|length }} commande{% if orders|length > 1 %}s{% endif %} en attente</p>
</div>
<div class="alert alert-danger my-5 col-lg-8 mx-auto">
<p class="h2 text-center">Tu as {{ messages|length }} message{% if messages|length > 1 %}s{% endif %} non lu{% if messages|length > 1 %}s{% endif %}</p>
</div>
<div class="alert alert-danger my-5 col-lg-8 mx-auto">
<p class="h2 text-center">Tu as {{ users|length }} comptes créés sur le site</p>
</div>
{% endblock %}