@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Andada+Pro&family=Montagu+Slab:wght@300&family=Pacifico&family=Parisienne&family=Roboto:wght@300&display=swap');
@import "navbar.scss";
@import "footer.scss";

html,
body {
    margin: 0;
    background-color: white;
    font-family: 'Pacifico', cursive;
}

body a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Alex Brush', cursive;
    font-weight: bold;
    color: navy;
}

p {
    color: black;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Parisienne', cursive;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumb,
ol {
    margin-bottom: 0 !important;
}

.btn.shop {
    border-radius: 20px;
	background: #03a030;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
    font-family: 'Parisienne', cursive;
	color: #fff;
	padding: 0.5em 2em;
    border: 2px solid navy;
    font-size: 1.3rem;
    font-weight: bold;
}

.btn.rupt {
    border-radius: 20px;
	background: gray;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
    font-family: 'Parisienne', cursive;
	color: #fff;
	padding: 0.5em 2em;
    border: 2px solid navy;
    font-size: 1.3rem;
    font-weight: bold;
}

.card-img {
    object-fit: cover;
    object-position: center;
    height: 300px;
	border-radius: 5px;
}
