@import 'app.scss';

.card{
    border: 2px solid navy;
    .card-img {
        object-fit: cover;
        object-position: center;
        height: 350px;
        border-radius: 0 !important;
    }
}

.Rupture {
    background-color: red;
    h2{
        color: #E6EBE0;
    }
}