.footer {
	a {
		color: #E6EBE0;
		text-shadow: 1px 1px 1px #000000;
		font-family: 'Roboto', sans-serif;
	}
	p {
		color: #E6EBE0;
		text-shadow: 1px 1px 1px #000000;
		font-family: 'Roboto', sans-serif;
	}
}

.footer__social-icons {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 1em;
			a {
				font-family: 'Roboto', sans-serif;
				color: #E6EBE0;
				text-align: center;
				span.fa.fa-facebook {
					height: 32px;
					width: 32px;
					line-height: 32px;
					background: transparent;
					margin-right: 4px;
					color: #3b5998;
					transition: 0.2s all;
					-webkit-transition: 0.2s all;
					-moz-transition: 0.2s all;
					-o-transition: 0.2s all;
					-ms-transition: 0.2s all;
				}
				&:hover {
					span.fa.fa-facebook {
						height: 32px;
						width: 32px;
						line-height: 32px;
						background: #3b5998;
						color: #FFFFFF;
						border-radius: 50%;
					}
			}
		}
	}
}
}
