#logo {
	a {
		color: #E6EBE0;
		font-family: 'Parisienne', cursive;
		text-shadow: 2px 2px 5px #000000;
		float: left;
		font-size: .8em;
		display: initial;
		margin: 0;
		letter-spacing: 0px;
		font-weight: 700;
		padding: 3px 0;
		border: none;
		span {
			color: #E6EBE0;
			font-family: 'Parisienne', cursive;
			font-size: 1.4em;
			font-weight: 700;
			text-shadow: 2px 2px 5px #000000;
		}
	}
}

.logo__desc {
	text-transform: uppercase;
	display: block;
	font-size: 0.8em;
	font-family: 'Pacifico' cursive;
	margin: 0;
	color: #7f00ff;
	letter-spacing: 4px;
	font-weight: 600;
	text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21);
}

.profile__menu {
	font-size: 1.5rem;
}

.cart {
	color: black;
	font-size: 1.2rem;
}

.navbar {
	background-color: #f8d7da;
	box-shadow: 5px 5px 50px 10px rgba(0,0,0,0.69);
	a {
		font-family: 'Roboto', sans-serif;
		color: black;
		text-shadow: 2px 2px 5px white;
	}
	span {
		font-family: 'Roboto', sans-serif;
		color: black;
		text-shadow: 2px 2px 5px white;
	}
}