@import 'app.scss';

.product__img {
    object-fit: cover;
    object-position: center;
    height: 400px;
	border-radius: 25px;
}

.share__facebook {
    color: blue;
    border: 1px solid blue;
    padding: 1rem;
}