	<div class="footer d-flex flex-row py-3">
		<div class="footer__social-icons">
			<ul>
				<li><a href="https://www.facebook.com/Xinty3140" target="_blank"><span class="fa fa-facebook"></span>Facebook</a></li>
			</ul>
		</div>
		<p class="mx-auto">© 2022, Les Aiguilles Frivoles. Site réalisé par
			<a href="http://loicfremond-portfolio.eu/">L. Fremond</a>
		</p>
	</div>