{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé</h1>

    <p>
        La page que vous demandé n'est pas disponible, merci de vérifier l'URL ou de <a href="{{ path('home') }}">Retourner sur le site</a>.
    </p>
{% endblock %}